/*
################
Standard colours of the world!
################
*/
/*
################
Clients colour palette!
################
*/
h1,
h2,
h3 {
  line-height: 1.1;
}
h1.large {
  font-size: 64px;
}
h1.medium {
  font-size: 52px;
}
h1.small {
  font-size: 40px;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 23px;
  font-weight: 700;
  color: #09181C;
  margin-bottom: 0.5em;
}
.f-50 {
  font-size: 50px;
}
.f-25 {
  font-size: 25px;
}
.f-20 {
  font-size: 20px;
}
.bold {
  font-weight: bold;
}
.em {
  font-style: italic;
}
.text,
.intro {
  font-size: 15px;
  color: #555;
  line-height: 1.75;
  letter-spacing: 0.5px;
}
.intro {
  margin-top: 6px;
}
.subtitle {
  font-size: 22px;
}
/*
#services .excerpt,
#work .excerpt,
#work-single .excerpt {
    font-size:13px;
    color:#6F7F82;
    margin-top:3px;
}
*/
.excerpt-above {
  margin-top: 10px;
  margin-bottom: 7px;
}
.excerpt-below {
  font-size: 16px;
  line-height: 24px;
  color: #82888b;
  font-weight: 500;
}
.excerpt-below-thumbs {
  font-size: 15px;
  line-height: 19px;
  color: #000;
}
.excerpt-below-cs-link {
  font-size: 15px;
  line-height: 19px;
  color: #000;
  font-weight: bold;
}
.excerpt-below-cs {
  font-size: 15px;
  color: #000;
}
.excerpt-below-cs {
  font-size: 16px;
  margin-bottom: 0rem!important;
  color: #000;
}
.excerpt-below-cs p {
  margin-bottom: 0rem!important;
}
.excerpt {
  font-size: 11px;
  color: #6F7F82;
  margin-top: -10px;
}
.bottom-thumbs-margin {
  margin-bottom: 10px;
}
.strong {
  font-weight: 800;
}
.light {
  font-weight: 300;
}
.ultra-strong {
  font-weight: 700;
}
.avatar-height {
  height: 12vh;
}
/*
--------------------------------------------
Global elements
--------------------------------------------
*/
.opacity-1 {
  opacity: 1;
}
.line-height-1 {
  line-height: 1.2;
}
body,
html {
  background-color: white;
}
#logo {
  height: 50px;
  width: auto;
}
main {
  background-color: white;
}
main,
#homepage-tiles {
  margin-top: 62px;
}
#page-header {
  margin-top: 25px;
  margin-bottom: 50px;
}
#featured-image {
  margin-bottom: 30px;
}
/*
#services #page-header,
#work #page-header,
#work-single #page-header {
    margin-bottom:0;
}
*/
#page-header {
  margin-bottom: 0;
}
/*
#services .wp-post-image,
#work .wp-post-image {
    margin-bottom:8px;
}
*/
#services .tiles.row,
#work .tiles.row {
  margin-bottom: 32px;
}
#services .tiles.row .col-md-6,
#work .tiles.row .col-md-6 {
  margin-bottom: 16px;
}
#services .tiles img,
#work .tiles img {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
}
.full-width {
  width: 100%;
}
.avatar-name {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  line-height: 17px;
}
.avatar-job {
  font-size: 12px;
  font-weight: lighter;
}
.caption div {
  box-shadow: 0 0 5px #C8C8C8;
  transition: all 0.3s ease 0s;
}
.img-circle {
  border-radius: 50%;
}
.img-circle {
  border-radius: 0;
}
.ratio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}
.img-circle {
  border-radius: 50%;
}
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}
/*
################
hero image only --- ONLY
################
*/
.jumbotron {
  background-image: url("../img/Hero.jpg");
  background-size: cover;
  padding: 10rem 2rem;
  border-radius: 0px;
  background-position: 10% 35%;
}
.box-position {
  position: relative;
  top: 135px;
}
.text-overlay {
  width: 70%;
  padding: 8.5% 4%;
  font-size: 155%;
  line-height: 141%;
  position: absolute;
}
.top-header {
  font-size: 55px;
  font-weight: 100;
}
.top-header-2 {
  font-size: 28px;
  line-height: 38px;
}
.top-header-2-mob {
  font-size: 30px;
}
.top-header-3 {
  font-size: 25px;
  color: #6c757d;
}
/*
--------------------------------------------
Navbar
--------------------------------------------
*/
nav.navbar {
  background-color: white;
  /* box-shadow: 0 3px 5px rgba(102, 102, 102, 0.05);*/
}
nav.navbar #menu-primary-menu a {
  font-family: 'Raleway', Arial, 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 700;
}
nav.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 2em;
  padding-right: 0;
}
nav .navbar-nav .nav-link.active,
nav.navbar-light .navbar-nav .nav-link.active,
nav .navbar-nav .nav-link:hover,
nav.navbar-light .navbar-nav .nav-link:hover {
  color: #003B75;
}
/**********
MAIN BODY
**********/
body,
html {
  font-family: 'Raleway', Arial, 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
::selection {
  color: black;
  background: #D7AF00;
}
.spacer {
  width: 100%;
  display: block;
  height: 100px;
}
.hidden {
  display: none;
}
.site-content {
  margin-top: 70px;
}
.full-width {
  width: 100%!important;
}
hr {
  margin-top: 3rem;
  margin-bottom: 4rem;
}
a {
  color: #003B75;
}
.opacity {
  opacity: 0.8;
}
.opacity:hover {
  opacity: 1;
}
/**********
--------------------------------------------
Text - general styles
--------------------------------------------
**********/
.white {
  color: white;
}
.dark-gray {
  color: #91989C;
}
.blue {
  color: #003B75;
}
.light-gray {
  color: #E3E9EC;
}
.brand-header {
  font-size: 55px;
  font-weight: bold;
}
.brand-line {
  margin-bottom: 0rem!important;
}
.load-more {
  background-color: white;
  padding-bottom: 70px;
}
.spacing {
  margin-right: 1.5rem !important;
}
.strapline {
  font-size: 30px;
  line-height: 37px;
  padding-top: 30px;
}
/**********
MODALS
**********/
body.modal-open #blur-bg-modal {
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
}
.modal-body .brand-header {
  font-size: 35px;
  padding-bottom: 1%;
}
.modal-body .font-size-55 {
  font-size: 35px;
}
.modal-backdrop {
  background: black;
}
.close {
  font-size: 50px;
  display: block;
}
.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  transform: translate(0, 0);
}
.modal-backdrop.in {
  opacity: 0.5;
}
.modal-padding-left {
  padding-left: 3%;
}
.modal-content {
  border: 0px solid rgba(0, 0, 0, 0.2);
  border-radius: 0px;
}
.hover-img-lg {
  opacity: 0.8;
  transition: 0.8s;
  -webkit-backface-visibility: hidden;
}
.hover-img-lg:hover {
  opacity: 1;
  cursor: pointer;
}
.hover-img {
  opacity: 0.8;
  transition: 0.8s;
  -webkit-backface-visibility-webkit-backface-visibility: hidden;
}
.hover-img:hover {
  opacity: 1;
  cursor: pointer;
}
.hover-img-exert {
  opacity: 1;
  transition: 0.8s;
}
.hover-img-exert:hover {
  opacity: 1;
  cursor: pointer;
}
.modal-h3 {
  margin-bottom: 0em;
}
.modal-lg {
  max-width: 80% !important;
  margin: 13.75rem auto;
}
.modal-header {
  border: none;
}
.modal-header .close {
  margin: -2rem -1.2rem -1rem auto;
}
.modal-p {
  font-size: 17px;
}
.btn-load-modal {
  padding: 15px;
  min-width: 120px;
  margin-top: 20px;
  background-color: white;
  border: black solid 1px;
  color: black;
}
.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: none!important;
  padding-top: 0rem!important;
}
.icons-desktop {
  height: 45px;
  width: 60px;
  text-align: center;
  position: absolute;
  left: -55px;
  top: -15px;
}
.icons-mob {
  height: 60px;
  width: 60px;
  text-align: center;
  position: relative;
  top: -8px;
  left: -11px;
}
/*
################
footer styles --- ONLY
################
*/
.footer {
  border-top: 4px solid #febd11;
  background-color: white;
  color: black;
  margin-top: 20px;
  padding: 20px;
}
.address-bg {
  background-color: #3c3c3b;
}
.address {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 13px;
  color: #656565;
  background-color: #3c3c3b;
  font-weight: 600;
}
.newsletter {
  background-color: #E3E9EC;
  padding: 20px 40px 20px 50px;
}
.newsletter p {
  color: #003B75;
}
.newsletter li a {
  padding-right: 20px;
  color: #E3E9EC;
  font-weight: bold;
}
.copyright {
  color: #9da2ac !important;
  font-weight: lighter!important;
}
.get-in-touch {
  background-color: #003B75;
  padding: 70px;
}
#footer-wrapper {
  background-color: #09181C;
  color: #fff;
}
footer#colophon {
  padding: 50px 0 60px 0;
  font-size: 18px;
}
/*
Footer
--------------------------------------------
*/
#footer-wrapper {
  background-color: #09181C;
  color: #fff;
}
footer#colophon {
  padding: 50px 0 60px 0;
  font-size: 18px;
}
footer#colophon a {
  color: #fff;
}
footer#colophon a:focus,
footer#colophon a:active,
footer#colophon a:hover {
  color: #ccc;
}
footer#colophon .col1 {
  margin-bottom: 30px;
  text-align: center;
}
footer#colophon .col2 {
  display: flex;
  flex-wrap: -webkit-wrap;
  flex-wrap: wrap;
  justify-content: center;
}
footer#colophon .col2 .accreditation-logo {
  width: 50%;
  text-align: center;
  margin-bottom: 10px;
}
footer#colophon .col2 .accreditation-logo:nth-last-child(-n+2) {
  margin-bottom: 0;
}
footer#colophon .accreditation-logo img {
  height: 60px;
  width: auto;
  margin-top: 4px;
}
@media (min-width: 1600px) {
  footer#colophon .accreditation-logo img {
    height: 70px;
  }
}
@media (min-width: 480px) {
  footer#colophon .col2 {
    justify-content: center;
  }
  footer#colophon .col2 .accreditation-logo {
    width: auto;
  }
  footer#colophon .col2 .accreditation-logo img {
    margin-left: 4px;
    margin-right: 4px;
  }
}
@media (min-width: 768px) {
  footer#colophon .col2 .accreditation-logo {
    margin-left: 20px;
  }
  footer#colophon .col2 .accreditation-logo img {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  footer#colophon .col1 {
    text-align: left;
    margin-bottom: 0;
  }
  footer#colophon .col2 {
    justify-content: flex-end;
  }
  footer#colophon .accreditation-logo:first-child {
    margin-left: 0;
  }
}
/*
--------------------------------------------
Icons
--------------------------------------------
*/
.arrow-more {
  color: #003B75;
  font-weight: 700px;
  vertical-align: top;
}
#homepage-tiles .tile.large-1 .arrow-more {
  font-size: 48px;
  line-height: 24px;
  vertical-align: top;
}
/*
--------------------------------------------
Lists
--------------------------------------------
*/
.text ul {
  position: relative;
  padding-left: 1.5em;
  list-style-type: none;
}
.text li:before {
  font-size: 1.07em;
  content: "\25CF";
  color: #003B75;
  position: absolute;
  left: 0;
}
.text li {
  margin-bottom: 1em;
}
.list-item {
  padding-left: 17px;
  font-size: 15px;
}
/*
--------------------------------------------
Buttons
--------------------------------------------
*/
/* Primary default and light grey */
.btn.btn-primary,
.btn.btn-primary.btn-lightgrey {
  color: #999;
  background-color: #F2F2F2;
  border-color: #F2F2F2;
}
.btn.btn-primary:focus,
.btn.btn-primary.btn-lightgrey:focus,
.btn.btn-primary:hover,
.btn.btn-primary.btn-lightgrey:hover,
.btn.btn-primary:active,
.btn.btn-primary.btn-lightgrey:active,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #f6f6f6;
  color: #999;
}
/* Ruby */
.btn.btn-primary.btn-ruby {
  color: #09181C;
  background-color: #D04A70;
  border-color: #D04A70;
}
.btn.btn-primary.btn-ruby:focus,
.btn.btn-primary.btn-ruby:hover,
.btn.btn-primary.btn-ruby:active {
  background-color: #d96e8d;
  color: inherit;
  opacity: 1;
}
.btn {
  padding: 1.25rem 3.5rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0;
  border-width: 0;
  font-weight: 700;
  text-transform: uppercase;
}
.btn {
  border-radius: 0;
  border-width: 0;
}
.btn-load {
  padding: 25px;
  width: 220px;
  margin-top: 20px;
  background-color: white;
  border: black solid 1px;
  color: black;
}
.btn-load:hover {
  background-color: #003B75;
  color: white;
}
.btn-load:active {
  background-color: #003B75;
  color: white;
}
.btn-contact {
  padding: 25px;
  width: 220px;
  margin-top: 20px;
  background-color: #003B75;
  border: white solid 1px;
  color: white;
}
.btn-contact:hover {
  background-color: white;
  color: #003B75;
}
.btn-contact:active {
  background-color: white;
  color: #003B75;
}
.btn-nav {
  padding: 7px;
  width: 129px;
  margin-top: 5px;
  background-color: white;
  border: #ccc solid 1px;
  color: #ccc;
  font-weight: bold;
  margin-right: 8px;
  font-size: 15px;
}
.btn-nav:hover {
  background-color: #003B75;
  color: white;
  border: #003B75 solid 1px;
}
.btn-nav:active {
  background-color: white;
  color: #003B75;
}
.btn-footer {
  padding: 25px;
  width: 200px;
  margin-top: 5px;
  background-color: #003B75 !important;
  border: #ccc solid 1px;
  color: white !important;
  font-weight: bold;
  margin-right: 8px;
  font-size: 15px;
}
/*
--------------------------------------------
Hubspot form styles
--------------------------------------------
*/
.hs-button {
  color: #09181C;
  background-color: #D04A70;
  border-color: #D04A70;
  padding: 1.25rem 3.5rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0;
  border-width: 0;
  font-weight: 700;
  text-transform: uppercase;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 10px;
  margin-bottom: 25px;
}
.hs-button:hover {
  background-color: #003B75;
  color: white;
}
.legal-consent-container li {
  list-style: none;
}
.legal-consent-container .hs-form-booleancheckbox-display input {
  float: left;
  position: relative;
  top: 5px;
}
.hs_firstname,
.hs_lastname,
.hs_email,
.hs_company {
  font-weight: bold;
}
.hs-error-msg {
  font-weight: bold;
  color: #D04A70;
}
.no-list {
  color: white;
}
.submitted-message p {
  font-size: 2rem;
}
.hs-richtext .hs-main-font-element {
  color: red!important;
}
/*
--------------------------------------------
Links
--------------------------------------------
*/
a {
  color: #003B75;
  outline: 0;
}
a:hover {
  text-decoration: none;
}
/* tags */
.tags a {
  font-size: 13px;
  color: #6F7F82;
}
.tags a:hover,
.tags a:active {
  color: #09181C;
}
button:focus {
  outline: 1px dotted;
  outline: none!important;
}
a[href^="tel"]:link,
a[href^="tel"]:visited,
a[href^="tel"]:hover {
  text-decoration: none;
  color: black;
  pointer-events: none;
  cursor: default;
}
/* Adjust px here (1024px for tablets maybe) */
@media only screen and (max-device-width: 480px) {
  a[href^="tel"]:link,
  a[href^="tel"]:visited,
  a[href^="tel"]:hover {
    color: #003B75;
    pointer-events: auto;
    cursor: pointer;
  }
}
#purl-team {
  text-align: center;
}
#purl-team .row {
  justify-content: center;
}
#purl-team a .img-circle {
  margin: 0 auto 8px auto!important;
}
#purl-team .img-circle {
  width: 155px!important;
  height: 155px!important;
  border-radius: 50%;
  border: solid 1px #E3E9EC;
  overflow: hidden;
}
#purl-team .img {
  width: 155px;
  height: 155px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 1s;
}
/*#purl-team .img:hover {
    transform:scale(1.1)
}*/
#purl-team h5,
#purl-team h6 {
  margin-bottom: 0.1em;
}
#purl-team .btn-wrapper {
  margin: 24px 0;
}
@media (min-width: 768px) {
  #purl-team .btn-wrapper {
    margin: 32px 0;
  }
}
#purl-team .col-sm-6 {
  margin-bottom: 20px;
}
/**********
    STAFF PORTRAITS
    **********/
.meet-the-team {
  background-color: #003B75;
  padding: 70px;
}
.employee-1 {
  background-image: url(../assets/portraits/websaved/amy.jpg);
  background-position-x: 78%;
  background-size: 174%;
  background-position-y: 11%;
}
.employee-2 {
  background-image: url(../assets/portraits/websaved/laura.jpg);
  background-position-x: 40%;
  background-size: 169%;
  background-position-y: 19%;
}
.employee-3 {
  background-image: url(../assets/portraits/websaved/julie_v3.jpg);
  background-position-x: 61%;
  background-size: 166%;
  background-position-y: 1%;
}
.employee-4 {
  background-image: url(../assets/portraits/websaved/emma.jpg);
  background-position-x: 80%;
  background-size: 170%;
}
.employee-5 {
  background-image: url(../assets/portraits/websaved/granit.jpg);
  background-position-x: 22%;
  background-size: 180%;
}
.employee-6 {
  background-image: url(../assets/portraits/websaved/catherine.jpg);
  background-position-x: 100%;
  background-size: 155%;
  background-position-y: 4%;
}
.employee-7 {
  background-image: url(../assets/portraits/websaved/jason_new.jpg);
  background-position-x: 41%;
  background-size: 311%;
  background-position-y: 43%;
}
.employee-8 {
  background-image: url(../assets/portraits/websaved/ronald.jpg);
  background-position-x: 57%;
  background-size: 178%;
  background-position-y: 17%;
}
.employee-9 {
  background-image: url(../assets/portraits/websaved/jess.jpg);
  background-position-x: 22%;
  background-size: 161%;
  background-position-y: 36%;
}
.employee-10 {
  background-image: url(../assets/portraits/websaved/irene.jpg);
  background-position-x: 44%;
  background-size: 127%;
  background-position-y: 23%;
}
.employee-11 {
  background-image: url(../assets/portraits/websaved/rodrigues.jpg);
  background-position-x: 52%;
  background-size: 135%;
  background-position-y: 13%;
}
.height {
  height: 120px;
}
.client-1,
.client-2,
.client-3,
.client-4,
.client-5,
.client-6,
.client-7,
.client-8,
.client-9,
.client-10,
.client-11,
.client-12,
.client-13,
.client-14,
.client-15,
.client-16,
.client-17,
.client-18,
.client-19,
.client-20,
.client-21,
.client-22 {
  background-size: 85%;
  opacity: 1;
}
.client-1:hover,
.client-2:hover,
.client-3:hover,
.client-4:hover,
.client-5:hover,
.client-6:hover,
.client-7:hover,
.client-8:hover,
.client-9:hover,
.client-10:hover,
.client-11:hover,
.client-12:hover,
.client-13:hover,
.client-14:hover,
.client-15:hover,
.client-16:hover,
.client-17:hover,
.client-18:hover,
.client-19:hover,
.client-20:hover,
.client-21:hover,
.client-22:hover {
  background-size: 85%;
}
/*
--------------------------------------------
PURL Team
--------------------------------------------
*/
/*
--------------------------------------------
PURL CTA
--------------------------------------------
*/
#purl-CTA .btn-wrapper {
  text-align: center;
}
#purl-CTA .btn-wrapper {
  margin: 24px 0;
}
@media (min-width: 768px) {
  #purl-CTA .btn-wrapper {
    margin: 32px 0;
  }
}
/**********
    CLIENTS
    **********/
.brands {
  background-color: #000;
  padding: 70px;
}
.client-health-1 {
  background-image: url(../assets/logos/new/Public_Health_England.png);
}
.client-health-2 {
  background-image: url(../assets/logos/new/Department_for_work_&_pensions.png);
}
.client-health-3 {
  background-image: url(../assets/logos/new/Department_for_transport.png);
}
.client-health-4 {
  background-image: url(../assets/logos/new/Department-for-education.png);
}
.client-health-5 {
  background-image: url(../assets/logos/new/Department_for_business_innovation_&_skills.png);
}
.client-health-6 {
  background-image: url(../assets/logos/new/department_of_health.png);
}
.client-health-1,
.client-health-2,
.client-health-3,
.client-health-4,
.client-health-5,
.client-health-6,
.client-a,
.client-b,
.client-c,
.client-d {
  background-size: 120%;
  opacity: 0.4;
}
.client-health-1:hover,
.client-health-2:hover,
.client-health-3:hover,
.client-health-4:hover,
.client-health-5:hover,
.client-health-6:hover,
.client-a:hover,
.client-b:hover,
.client-c:hover,
.client-d:hover {
  background-size: 120%;
}
.client-1 {
  background-image: url(../assets/logos/new/philips.png);
}
.client-2 {
  background-image: url(../assets/logos/new/reebok.png);
}
.client-3 {
  background-image: url(../assets/logos/new/pioneer.png);
}
.client-4 {
  background-image: url(../assets/logos/new/pandora.png);
}
.client-5 {
  background-image: url(../assets/logos/new/manu.png);
}
.client-6 {
  background-image: url(../assets/logos/new/ford.png);
}
.client-7 {
  background-image: url(../assets/logos/new/cloetta.png);
}
.client-8 {
  background-image: url(../assets/logos/new/CCS.png);
}
.client-9 {
  background-image: url(../assets/logos/new/brother.png);
}
.client-10 {
  background-image: url(../assets/logos/new/BMW.png);
}
.client-11 {
  background-image: url(../assets/logos/new/BBC.png);
}
.client-12 {
  background-image: url(../assets/logos/new/BOA.png);
}
.client-13 {
  background-image: url(../assets/logos/new/as_watson.png);
}
.client-14 {
  background-image: url(../assets/logos/new/adidas.png);
}
.client-15 {
  background-image: url(../assets/logos/new/accenture.png);
}
.client-16 {
  background-image: url(../assets/logos/new/RAC.png);
}
.client-17 {
  background-image: url(../assets/logos/new/royal_london.png);
}
.client-18 {
  background-image: url(../assets/logos/new/stagecoach.png);
}
.client-19 {
  background-image: url(../assets/logos/new/superdrug.png);
}
.client-20 {
  background-image: url(../assets/logos/Be_clear_on_cancer_logo.jpg);
}
.client-21 {
  background-image: url(../assets/logos/new/Volvo.png);
}
.client-22 {
  background-image: url(../assets/logos/new/Police_Mutual.png);
}
.client-23 {
  background-image: url(../assets/logos/new/Police_Mutual.png);
}
.client-24 {
  background-image: url(../assets/logos/new/RAC.png);
}
.client-25 {
  background-image: url(../assets/logos/new/superdrug.png);
}
.client-26 {
  background-image: url(../assets/logos/new/football_pools.png);
}
.client-a {
  background-image: url(../assets/logos/new/sepa.png);
}
.client-b {
  background-image: url(../assets/logos/new/national_library.png);
}
.client-c {
  background-image: url(../assets/logos/new/nhs_scotland.png);
}
.client-d {
  background-image: url(../assets/logos/new/livingstone.png);
  background-size: 100%!important;
}
.minus-80 {
  top: -80px;
}
.minus-180 {
  top: -180px;
}
.minus-260 {
  top: -260px;
}
.client-1,
.client-2,
.client-3,
.client-4,
.client-5,
.client-6,
.client-7,
.client-8,
.client-9,
.client-10,
.client-11,
.client-12,
.client-13,
.client-14,
.client-15,
.client-16,
.client-17,
.client-18,
.client-19,
.client-20,
.client-21,
.client-22,
.client-23,
.client-24,
.client-25,
.client-26 {
  background-size: 115%;
  opacity: 0.4;
}
.client-1:hover,
.client-2:hover,
.client-3:hover,
.client-4:hover,
.client-5:hover,
.client-6:hover,
.client-7:hover,
.client-8:hover,
.client-9:hover,
.client-10:hover,
.client-11:hover,
.client-12:hover,
.client-13:hover,
.client-14:hover,
.client-15:hover,
.client-16:hover,
.client-17:hover,
.client-18:hover,
.client-19:hover,
.client-20:hover,
.client-21:hover,
.client-22:hover,
.client-23:hover,
.client-24:hover,
.client-25:hover,
.client-26:hover {
  background-size: 115%;
  opacity: 0.4;
}
#logo-box h3 {
  width: 100%;
  text-align: center;
}
#logo-box h3 {
  width: 100%;
  text-align: center;
}
#logo-box .col {
  display: flex;
  flex-wrap: -webkit-wrap;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#logo-box .col .client-logo {
  width: 50%;
}
@media (min-width: 768px) {
  #logo-box .col .client-logo {
    width: 25%;
  }
}
#logo-box .col .client-logo img {
  width: 40%;
  height: auto;
  margin: 20% 0;
}
@media (min-width: 1200px) {
  #logo-box .col .client-logo img {
    width: 48%;
  }
}
@media (min-width: 1600px) {
  #logo-box .col .client-logo img {
    width: 36%;
  }
}
/* Hero image / overlay text ONLY */
@media (max-width: 100em) {
  .text-overlay {
    font-size: 115%!important ;
  }
}
@media all and (max-width: 75em) {
  .text-overlay {
    font-size: 107%!important;
  }
}
@media all and (max-width: 62em) {
  .text-overlay {
    font-size: 88%!important;
    line-height: 19px!important;
    padding: 4.5% 5% 0% !important;
  }
  .minus-80 {
    top: 0px!important;
  }
  .minus-180 {
    top: 0px!important;
  }
  .minus-260 {
    top: 0px!important;
  }
  .excerpt-below-cs {
    font-size: 11px;
    margin-bottom: 0rem!important;
    color: #000;
  }
  .avatar-name {
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    line-height: 17px;
  }
  .avatar-job {
    font-size: 10px;
    font-weight: lighter;
  }
  .excerpt-below {
    font-size: 12px;
    line-height: 20px;
    color: #82888b;
    font-weight: 500;
  }
  .height {
    height: 120px!important;
  }
}
@media all and (max-width: 48.4em) {
  .height {
    height: 120px!important;
    display: none;
  }
}
@media all and (max-width: 48em) {
  .text-overlay {
    display: none;
  }
  .top-header {
    font-size: 35px!important;
    font-weight: 100;
  }
  .top-header-2 {
    font-size: 29px!important;
    line-height: 33px!important;
  }
  .strapline {
    font-size: 22px!important;
    line-height: 32px!important;
    padding-top: 30px;
  }
  .m-b-10 {
    padding: 0px!important;
  }
  .excerpt-below {
    font-size: 13px!important;
    line-height: 21px!important;
    color: #82888b;
  }
  .top-header-2-mob {
    font-size: 25px!important;
  }
  .top-header-3 {
    font-size: 15px!important;
    color: #6c757d;
  }
  .excerpt {
    font-size: 15px!important;
    color: #6F7F82;
    margin-top: -10px;
  }
  .btn-nav {
    /*padding: 7px;
    width: 129px;*/
    margin-top: 5px;
    background-color: white;
    border: #003B75 solid 1px;
    color: #003B75;
    margin-right: 14px!important;
    font-size: 15px;
  }
  .height {
    height: 550px!important;
    border: red solid 1px;
    display: none;
  }
}
h4 {
  font-size: 18px;
  font-weight: bold;
  color: #09181C;
  margin-bottom: 4px;
}
@media (min-width: 360px) {
  .hide-mobile {
    display: none;
  }
  .show-mobile {
    display: block;
  }
  .icons-mob {
    display: block;
  }
  .icons-desktop {
    display: none;
  }
  .icon-responsive {
    width: 100%;
  }
}
@media (min-width: 776px) {
  .hide-desktop {
    display: none;
  }
  .show-desktop {
    display: block;
  }
  .icons-desktop {
    display: block;
  }
  .icons-mob {
    display: none;
  }
  .icon-responsive {
    width: 65%!important;
  }
}
@media (min-width: 768px) {
  h4 {
    font-size: 23px;
  }
}
@media (min-width: 768px) {
  #page-header {
    margin-top: 50px;
  }
}
@media (min-width: 768px) {
  #homepage-tiles .tile {
    flex-basis: 20%;
  }
  #homepage-tiles .tile.large-1 {
    flex-basis: 60%;
  }
  #homepage-tiles .small-1 {
    order: 1;
  }
  #homepage-tiles .small-2 {
    order: 2;
  }
  #homepage-tiles .small-3 {
    order: 3;
  }
  #homepage-tiles .small-4 {
    order: 4;
  }
  #homepage-tiles .small-5 {
    display: block;
    order: 5;
  }
  #homepage-tiles .group-1 {
    display: block;
    order: 6;
  }
  #homepage-tiles .large-1 {
    order: 7;
  }
  #homepage-tiles .group-2 {
    display: block;
    order: 8;
  }
  #homepage-tiles .small-12 {
    display: block;
    order: 9;
  }
  #homepage-tiles .small-13 {
    display: block;
    order: 10;
  }
  #homepage-tiles .small-14 {
    display: block;
    order: 11;
  }
  #homepage-tiles .small-15 {
    display: block;
    order: 12;
  }
  #homepage-tiles .small-16 {
    display: block;
    order: 13;
  }
  #homepage-tiles .tile.large-1 {
    padding: 30px;
  }
}
@media (min-width: 992px) {
  #homepage-tiles .tile.large-1 {
    font-size: 19px;
    line-height: 23px;
  }
  #homepage-tiles .tile.large-1 {
    padding: 40px;
  }
  #homepage-tiles .tile.large-1 p {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  #homepage-tiles .tile.large-1 {
    font-size: 23px;
    line-height: 28px;
  }
  #homepage-tiles .tile.large-1 {
    padding: 50px;
  }
}
@media (min-width: 1600px) {
  #homepage-tiles .tile.large-1 {
    font-size: 32px;
    line-height: 39px;
  }
  #homepage-tiles .tile.large-1 {
    padding: 70px;
  }
}
@media (min-width: 768px) {
  #services-box h4 {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  #services-box .col-md-3 {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  #highlights h4 {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  #highlights-tiles {
    display: flex;
    /* flex-flow: row wrap; */
    width: 100%;
  }
  #highlights-tiles .tile {
    /* background-color:#efefef; */
    box-sizing: border-box;
  }
  #highlights-tiles .tile.large-1 {
    flex-basis: 50%;
  }
  #highlights-tiles .tile-group.group-1 {
    flex-basis: 50%;
    display: flex;
    flex-flow: row wrap;
  }
  #highlights-tiles .tile-group.group-1 .tile {
    flex-basis: 50%;
    padding-left: 30px;
  }
  #highlights-tiles .tile-group.group-1.reverse .tile {
    flex-basis: 50%;
    padding-right: 30px;
    padding-left: 0px;
  }
}
@media (min-width: 768px) {
  .quote-by {
    text-align: right;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1520px;
  }
}
.no-padding-l-r {
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  /*padding-right: 15px;
    padding-left: 0px;*/
}
/*.row { margin-right: 0px;
   margin-left: 0px;}*/
.p-l-20 {
  padding-left: 20px;
}
.p-0 {
  padding: 0px;
}
.p-30 {
  padding: 30px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.padding-left-2 {
  padding-left: 2%;
}
.m-t-minus-20 {
  margin-top: -20px;
}
/**********
CSS ANIMATIONS
**********/
.pulse {
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0, 59, 117, 0.4);
  animation: pulse 1.5s infinite;
}
.pulse:hover {
  animation: none;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 59, 117, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
.pulse-white {
  cursor: pointer;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
  animation: pulse-white 1.5s infinite;
}
.pulse-white:hover {
  animation: none;
}
@keyframes pulse-white {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
