﻿@import "variable.less";


/**********
CSS ANIMATIONS
**********/

   
.pulse {
  
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0,59,117, 0.4);
  animation: pulse 1.5s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0,59,117, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(0,59,117, 0.4);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(0,59,117, 0.4);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0,59,117, 0.4);
    box-shadow: 0 0 0 0 rgba(0,59,117, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(0,59,117, 0.4);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

.pulse-white {
  
  cursor: pointer;
   box-shadow: 0 0 0 rgba(255,255,255, 0.4);
  animation: pulse-white 1.5s infinite;
}
.pulse-white:hover {
  animation: none;
}

@-webkit-keyframes pulse-white {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}
@keyframes pulse-white {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
    box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
      box-shadow: 0 0 0 10px rgba(255,255,255, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
      box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}