﻿@import "variable.less";


/*
--------------------------------------------
Buttons
--------------------------------------------
*/

/* Primary default and light grey */
.btn.btn-primary, .btn.btn-primary.btn-lightgrey {
    color:#999; background-color:#F2F2F2; border-color:#F2F2F2;
}
.btn.btn-primary:focus, .btn.btn-primary.btn-lightgrey:focus, .btn.btn-primary:hover, .btn.btn-primary.btn-lightgrey:hover, .btn.btn-primary:active, .btn.btn-primary.btn-lightgrey:active, .btn-primary:not(:disabled):not(.disabled):active {
    background-color:#f6f6f6; color:#999;
}

/* Ruby */
.btn.btn-primary.btn-ruby {
    color:#09181C; background-color:#D04A70; border-color:#D04A70;
}
.btn.btn-primary.btn-ruby:focus, .btn.btn-primary.btn-ruby:hover, .btn.btn-primary.btn-ruby:active {
    background-color: #d96e8d; color:inherit; opacity:1;
}

.btn {
    padding: 1.25rem 3.5rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0;
    border-width: 0;
    font-weight: 700;
    text-transform: uppercase;
}




.btn {
    border-radius:0;
    border-width:0;
}

.btn-load {padding: 25px; width: 220px; margin-top: 20px; background-color: @default-white; border: black solid 1px; color:@default}
.btn-load:hover { background-color: @blue; color:@default-white;}
.btn-load:active { background-color: @blue; color:@default-white;}

.btn-contact {padding: 25px; width: 220px; margin-top: 20px; background-color: @blue; border: @default-white solid 1px; color:@default-white}
.btn-contact:hover { background-color: @default-white; color:@blue;}
.btn-contact:active { background-color: @default-white; color:@blue;}


.btn-nav { padding: 7px;
    width: 129px;
    margin-top: 5px;
    background-color: @default-white;
    border: #ccc solid 1px;
    color: #ccc;
    font-weight: bold;
    margin-right: 8px;
    font-size: 15px;
}


.btn-nav:hover { background-color:@blue; color:@default-white; border:@blue solid 1px;}
.btn-nav:active { background-color: @default-white; color:@blue; }

.btn-footer {
    padding: 25px;
    width: 200px;
    margin-top: 5px;
    background-color: @blue!important;
    border: #ccc solid 1px;
    color: @default-white!important;
    font-weight: bold;
    margin-right: 8px;
    font-size: 15px;
}


/*
--------------------------------------------
Hubspot form styles
--------------------------------------------
*/



.hs-button {color:#09181C; background-color:#D04A70; border-color:#D04A70;padding: 1.25rem 3.5rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0;
    border-width: 0;
    font-weight: 700;
    text-transform: uppercase;}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 10px;
    margin-bottom:25px;

}

.hs-button:hover { background-color: @blue; color:@default-white;}

.legal-consent-container li {list-style:none;}
.legal-consent-container .hs-form-booleancheckbox-display input {
    float: left;
    position: relative;
    top: 5px;
}

.hs_firstname, .hs_lastname, .hs_email, .hs_company {font-weight:bold; }

.hs-error-msg {font-weight:bold; color: #D04A70;}

.no-list {color:white;}


.submitted-message p {font-size: 2rem;}

.hs-richtext .hs-main-font-element {color:red!important;}

/*
--------------------------------------------
Links
--------------------------------------------
*/


a {
    color:@blue;
    outline: 0;
}
a:hover {
    text-decoration: none;
}


/* tags */

.tags a {
    font-size:13px;
    color: #6F7F82;
}
.tags a:hover,
.tags a:active {
    color: #09181C;
}

button:focus {
    outline: 1px dotted;
    outline: none!important;
}

a[href^="tel"]:link, a[href^="tel"]:visited, a[href^="tel"]:hover {
    text-decoration: none;
    color: @default;
    pointer-events: none;
    cursor: default;
}
/* Adjust px here (1024px for tablets maybe) */

@media only screen and (max-device-width: 480px) {
    a[href^="tel"]:link, a[href^="tel"]:visited, a[href^="tel"]:hover {
        color: @blue;
        pointer-events: auto;
        cursor: pointer;
    }
}