﻿@import "variable.less";


 /**********
    CLIENTS
    **********/

.brands {background-color: #000; padding: 70px;}


.client-health-1 {background-image: url(../assets/logos/new/Public_Health_England.png);}
.client-health-2 {background-image: url(../assets/logos/new/Department_for_work_&_pensions.png);}
.client-health-3 {background-image: url(../assets/logos/new/Department_for_transport.png);}
.client-health-4 {background-image: url(../assets/logos/new/Department-for-education.png);}
.client-health-5 {background-image: url(../assets/logos/new/Department_for_business_innovation_&_skills.png);}
.client-health-6 {background-image: url(../assets/logos/new/department_of_health.png);}

.client-health-1,
.client-health-2,
.client-health-3,
.client-health-4,
.client-health-5,
.client-health-6,

.client-a,
.client-b,
.client-c,
.client-d {background-size: 120%; opacity: 0.4  }

.client-health-1:hover,
.client-health-2:hover,
.client-health-3:hover,
.client-health-4:hover,
.client-health-5:hover,
.client-health-6:hover,

.client-a:hover,
.client-b:hover,
.client-c:hover,
.client-d:hover  { background-size: 120%; }

.client-1 {background-image: url(../assets/logos/new/philips.png);}
.client-2 {background-image: url(../assets/logos/new/reebok.png);}
.client-3 {background-image: url(../assets/logos/new/pioneer.png);}
.client-4 {background-image: url(../assets/logos/new/pandora.png);}
.client-5 {background-image: url(../assets/logos/new/manu.png);}
.client-6 {background-image: url(../assets/logos/new/ford.png);}

.client-7 {background-image: url(../assets/logos/new/cloetta.png);}
.client-8 {background-image: url(../assets/logos/new/CCS.png);}
.client-9 {background-image: url(../assets/logos/new/brother.png);} 
.client-10 {background-image: url(../assets/logos/new/BMW.png);}
.client-11 {background-image: url(../assets/logos/new/BBC.png);}
.client-12 {background-image: url(../assets/logos/new/BOA.png);}

.client-13 {background-image: url(../assets/logos/new/as_watson.png);}
.client-14 {background-image: url(../assets/logos/new/adidas.png);}
.client-15 {background-image: url(../assets/logos/new/accenture.png);}

.client-16 {background-image: url(../assets/logos/new/RAC.png);}
.client-17 {background-image: url(../assets/logos/new/royal_london.png);}
.client-18 {background-image: url(../assets/logos/new/stagecoach.png);}

.client-19 {background-image: url(../assets/logos/new/superdrug.png);}
.client-20 {background-image: url(../assets/logos/Be_clear_on_cancer_logo.jpg);}
.client-21 {background-image: url(../assets/logos/new/Volvo.png);}
.client-22 {background-image: url(../assets/logos/new/Police_Mutual.png);}
.client-23 {background-image: url(../assets/logos/new/Police_Mutual.png);}
.client-24 {background-image: url(../assets/logos/new/RAC.png);}
.client-25 {background-image: url(../assets/logos/new/superdrug.png);}
.client-26 {background-image: url(../assets/logos/new/football_pools.png);}

.client-a {background-image: url(../assets/logos/new/sepa.png);}
.client-b {background-image: url(../assets/logos/new/national_library.png);}
.client-c {background-image: url(../assets/logos/new/nhs_scotland.png);}
.client-d {background-image: url(../assets/logos/new/livingstone.png);background-size: 100%!important;}

.minus-80 {top:-80px;}
.minus-180 {top:-180px;}
.minus-260 {top:-260px;}

.client-1, 
.client-2,
.client-3,
.client-4,
.client-5,
.client-6,
.client-7,
.client-8,
.client-9,
.client-10,
.client-11,
.client-12,
.client-13,
.client-14,
.client-15,
.client-16,
.client-17,
.client-18,
.client-19,
.client-20,
.client-21,
.client-22,
.client-23,
.client-24,
.client-25,
.client-26 { background-size: 115%; opacity: 0.4 }

.client-1:hover, 
.client-2:hover,
.client-3:hover,
.client-4:hover,
.client-5:hover,
.client-6:hover,
.client-7:hover,
.client-8:hover,
.client-9:hover,
.client-10:hover,
.client-11:hover,
.client-12:hover,
.client-13:hover,
.client-14:hover,
.client-15:hover,
.client-16:hover,
.client-17:hover,
.client-18:hover,
.client-19:hover,
.client-20:hover,
.client-21:hover,
.client-22:hover,
.client-23:hover,
.client-24:hover,
.client-25:hover, 
.client-26:hover { background-size: 115%; opacity: 0.4 }

#logo-box h3 {
    width: 100%;
    text-align: center;
}

#logo-box h3 {
    width:100%;
    text-align: center;
}

#logo-box .col {
    display: -webkit-flex;
    display: flex;
    flex-wrap: -webkit-wrap;
    flex-wrap: wrap;
    text-align:center;
    justify-content: center;
    align-items: center;
}

#logo-box .col .client-logo {
    width:50%;
}
@media (min-width: 768px) {
    #logo-box .col .client-logo {
        width:25%;
    }     
}

#logo-box .col .client-logo img {
    width:40%;
    height:auto;
    margin:20% 0;
}
@media (min-width: 1200px) {
    #logo-box .col .client-logo img {
        width:48%;
    }    
}
@media (min-width: 1600px) {
    #logo-box .col .client-logo img {
        width:36%;
    }    
}
