﻿@import "variable.less";

#purl-team {
    text-align:center;
}

#purl-team .row {
    justify-content:center;
}

#purl-team a .img-circle {
    margin:0 auto 8px auto!important;
}

#purl-team .img-circle {
    width:155px!important;
    height:155px!important;
    border-radius: 50%;
    border:solid 1px #E3E9EC;
    overflow:hidden;

}

#purl-team .img {
    width:155px;
    height:155px;
    border-radius: 50%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 1s;
}

/*#purl-team .img:hover {
    transform:scale(1.1)
}*/

#purl-team h5,
#purl-team h6 {
    margin-bottom:0.1em;
}

#purl-team .btn-wrapper {
    margin:24px 0;
}
@media (min-width: 768px) { 
    #purl-team .btn-wrapper {
        margin:32px 0;
    }
}

 #purl-team .col-sm-6 {
    margin-bottom:20px;
}


  /**********
    STAFF PORTRAITS
    **********/

.meet-the-team {background-color: @blue; padding: 70px;}

.employee-1 {background-image: url(../assets/portraits/websaved/amy.jpg); background-position-x: 78%; background-size: 174%; background-position-y: 11%;}

.employee-2 {background-image: url(../assets/portraits/websaved/laura.jpg);background-position-x: 40%; background-size: 169%; background-position-y: 19%;} 

.employee-3 {background-image: url(../assets/portraits/websaved/julie_v3.jpg); background-position-x: 61%; background-size: 166%; background-position-y: 1%;}

.employee-4 {background-image: url(../assets/portraits/websaved/emma.jpg);background-position-x: 80%; background-size: 170%;}

.employee-5 {background-image: url(../assets/portraits/websaved/granit.jpg);background-position-x: 22%; background-size: 180%;}

.employee-6 {background-image: url(../assets/portraits/websaved/catherine.jpg); background-position-x: 100%; background-size: 155%; background-position-y: 4%;}

.employee-7 {background-image: url(../assets/portraits/websaved/jason_new.jpg); background-position-x: 41%;  background-size: 311%;  background-position-y: 43%;}

.employee-8 {background-image: url(../assets/portraits/websaved/ronald.jpg);background-position-x: 57%; background-size: 178%; background-position-y: 17%;}

.employee-9 {background-image: url(../assets/portraits/websaved/jess.jpg);background-position-x: 22%; background-size: 161%; background-position-y: 36%;}

.employee-10 {background-image: url(../assets/portraits/websaved/irene.jpg);background-position-x: 44%;  background-size: 127%;    background-position-y: 23%;}

.employee-11 {background-image: url(../assets/portraits/websaved/rodrigues.jpg); background-position-x: 52%;  background-size: 135%; background-position-y: 13%;}

.height {height: 120px}

.client-1, 
.client-2,
.client-3,
.client-4,
.client-5,
.client-6,
.client-7,
.client-8,
.client-9,
.client-10,
.client-11,
.client-12,
.client-13,
.client-14,
.client-15,
.client-16,
.client-17,
.client-18,
.client-19,
.client-20,
.client-21,
.client-22 { background-size: 85%; opacity: 1 }

.client-1:hover, 
.client-2:hover,
.client-3:hover,
.client-4:hover,
.client-5:hover,
.client-6:hover,
.client-7:hover,
.client-8:hover,
.client-9:hover,
.client-10:hover,
.client-11:hover,
.client-12:hover,
.client-13:hover,
.client-14:hover,
.client-15:hover,
.client-16:hover,
.client-17:hover,
.client-18:hover,
.client-19:hover,
.client-20:hover,
.client-21:hover,
.client-22:hover { background-size: 85%;}


/*
--------------------------------------------
PURL Team
--------------------------------------------
*/





/*
--------------------------------------------
PURL CTA
--------------------------------------------
*/

#purl-CTA .btn-wrapper {
    text-align:center;
}

#purl-CTA .btn-wrapper {
    margin:24px 0;
}
@media (min-width: 768px) { 
    #purl-CTA .btn-wrapper {
        margin:32px 0;
    }
}
