﻿@import "variable.less";

h1, h2, h3 {
    line-height:1.1;
}

h1.large {
    font-size:64px;
}

h1.medium {
    font-size:52px;    
}

h1.small {
    font-size:40px;    
}


h2 {
    font-size:2rem;
}


h3 {
    font-size: 23px;
    font-weight:700;
    color:#09181C;
    margin-bottom:0.5em;
}


.f-50 {font-size:50px;}
.f-25 {font-size:25px;}
.f-20 {font-size:20px;}

.bold {font-weight: bold;}

.em {font-style:italic;}