﻿@import "variable.less";


/*
################
footer styles --- ONLY
################
*/

.footer {

border-top: 4px solid #febd11;
background-color:@default-white;
color:@default;
margin-top:20px;
padding: 20px;
}

.address-bg { background-color: #3c3c3b}
.address {padding-top: 40px; padding-bottom: 40px; font-size: 13px; color: @default-grey; background-color: #3c3c3b;font-weight: 600;}

.newsletter {background-color: #E3E9EC; padding: 20px 40px 20px 50px;}

.newsletter p { color:@blue;}

.newsletter li a {padding-right: 20px; color:@light-grey; font-weight: bold;}

.copyright {color:#9da2ac!important;font-weight: lighter!important;}

.get-in-touch {background-color: @blue; padding: 70px;}

#footer-wrapper {
    background-color:#09181C;
    color:#fff;
}

footer#colophon {
    padding: 50px 0 60px 0;
    font-size: 18px;
}

/*
Footer
--------------------------------------------
*/

#footer-wrapper {
    background-color:#09181C;
    color:#fff;
}

footer#colophon {
    padding:50px 0 60px 0;
    font-size:18px;
}

footer#colophon a {
    color:#fff;
}
footer#colophon a:focus,
footer#colophon a:active,
footer#colophon a:hover {
    color:#ccc;
}

footer#colophon .col1 {
    margin-bottom: 30px;
    text-align: center;
}

footer#colophon .col2 {
    display: -webkit-flex;
    display: flex;
    flex-wrap: -webkit-wrap;
    flex-wrap: wrap;
    justify-content:center;
}

footer#colophon .col2 .accreditation-logo {
    width:50%;
    text-align:center;
    margin-bottom:10px;
}

footer#colophon .col2 .accreditation-logo:nth-last-child(-n+2) {
    margin-bottom:0;
}

footer#colophon .accreditation-logo img {
    height:60px;
    width:auto;
    margin-top:4px;
}
@media (min-width: 1600px) {  
    footer#colophon .accreditation-logo img {
        height:70px;
    }
}

@media (min-width: 480px) { 
    footer#colophon .col2 {   
        -webkit-justify-content: space-around;
        justify-content: center;
    }
    footer#colophon .col2 .accreditation-logo {
        width:auto;
    }
    footer#colophon .col2 .accreditation-logo img {
        margin-left:4px;
        margin-right:4px;
    } 
}

@media (min-width: 768px) { 
    footer#colophon .col2 .accreditation-logo {
        margin-left: 20px;
    }
    footer#colophon .col2 .accreditation-logo img {
        margin-left:0;
        margin-right:0;
    } 
}

@media (min-width: 992px) {    
    footer#colophon .col1 {
        text-align: left;
        margin-bottom:0;
    }
    footer#colophon .col2 {
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
    }
    footer#colophon .accreditation-logo:first-child {
        margin-left: 0;
    }
}
