﻿@import "variable.less";


/*
################
hero image only --- ONLY
################
*/

.jumbotron {

background-image: url("../img/Hero.jpg");
background-size:cover;
padding: 10rem 2rem;
border-radius:0px;
background-position: 10% 35%;
}

.box-position {

position: relative;
top: 135px;

 }

.text-overlay {
    width: 70%;
    padding: 8.5% 4%;
    font-size: 155%;
    line-height: 141%;
    position: absolute;
}

.top-header {
    font-size: 55px;
    font-weight: 100;
}
.top-header-2 {
    font-size: 28px;
    line-height: 38px;
}
.top-header-2-mob {
    font-size: 30px;
}
.top-header-3 {
    font-size: 25px;
    color: #6c757d;
}