﻿@import "variable.less";


/*
--------------------------------------------
Icons
--------------------------------------------
*/

.arrow-more {
    color:@blue;
    font-weight:700px; vertical-align: top;  
}

#homepage-tiles .tile.large-1 .arrow-more {
    font-size: 48px;
    line-height: 24px;
    vertical-align: top;    
}

