﻿
@import "variable.less";


.text,
.intro {
    font-size:15px;
    color: #555;
    line-height:1.75;
    letter-spacing: 0.5px;
}

.intro {
    margin-top:6px;
}

.subtitle {
    font-size:22px;
}

/*
#services .excerpt,
#work .excerpt,
#work-single .excerpt {
    font-size:13px;
    color:#6F7F82;
    margin-top:3px;
}
*/


.excerpt-above {margin-top: 10px; margin-bottom: 7px;}
.excerpt-below { font-size: 16px;line-height: 24px; color: #82888b; font-weight: 500;}
.excerpt-below-thumbs { font-size: 15px;line-height: 19px; color: #000;}


.excerpt-below-cs-link {font-size: 15px;line-height: 19px; color: #000;font-weight: bold;}


.excerpt-below-cs {
    font-size: 15px;    
    color: #000;
}

.excerpt-below-cs {
    font-size: 16px;
    margin-bottom: 0rem!important;
    color: #000;
}

.excerpt-below-cs p {margin-bottom: 0rem!important;}

.excerpt {
    font-size:11px;
    color:#6F7F82;
    margin-top: -10px;
}

.bottom-thumbs-margin {margin-bottom: 10px;}

.strong {font-weight:800;}
.light {font-weight: 300;}
.ultra-strong { font-weight: 700;}

.avatar-height {height: 12vh;}

/*
--------------------------------------------
Global elements
--------------------------------------------
*/

.opacity-1 {opacity: 1}
.line-height-1 {line-height:1.2}

body, html {
    background-color:@default-white;
}


#logo {
    height:50px;
    width:auto;
}

main {
    background-color:@default-white;
}

main,
#homepage-tiles {
    margin-top:62px;
}

    
#page-header {
    margin-top: 25px;
    margin-bottom:50px;
}


#featured-image {
    margin-bottom: 30px;
}

/*
#services #page-header,
#work #page-header,
#work-single #page-header {
    margin-bottom:0;
}
*/

#page-header {
    margin-bottom:0;
}

/*
#services .wp-post-image,
#work .wp-post-image {
    margin-bottom:8px;
}
*/

#services .tiles.row,
#work .tiles.row {
    margin-bottom:32px;
}

#services .tiles.row .col-md-6,
#work .tiles.row .col-md-6 {
    margin-bottom:16px;
}

#services .tiles img,
#work .tiles img {
    width:100%;
    height:auto;
    margin-bottom:8px;
}

.full-width {width:100%;} 

.avatar-name {font-size: 16px; font-weight: bold; margin-top: 20px; line-height: 17px;}
.avatar-job {font-size: 12px; font-weight: lighter;}

.caption div {
    box-shadow: 0 0 5px #C8C8C8;
    transition: all 0.3s ease 0s;
}
.img-circle {
    border-radius: 50%;
}
.img-circle {
    border-radius: 0;
}

.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}
.img-circle {
    border-radius: 50%;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

  






