﻿@import "variable.less";


/*
--------------------------------------------
Lists
--------------------------------------------
*/

.text ul {
    position:relative;
    padding-left:1.5em;
    list-style-type: none;
}

.text li:before {
    font-size:1.07em;
    content: "\25CF";
    color:@blue;
    position:absolute;
    left:0;    
}

.text li {
    margin-bottom:1em;
}

.list-item {
	padding-left: 17px;
	font-size: 15px;
}