﻿@import "variable.less";



/* Hero image / overlay text ONLY */

@media (max-width: 100em){
.text-overlay {  font-size: 115%!important ;}

}

@media all and  (max-width: 75em){
.text-overlay {font-size: 107%!important; }


}

@media all and  (max-width: 62em){

.text-overlay {
    font-size: 88%!important;
    line-height: 19px!important;
    padding: 4.5% 5% 0% !important; 
}

.minus-80 {top:0px!important;}
.minus-180 {top:0px!important;}
.minus-260 {top:0px!important;}

.excerpt-below-cs {
    font-size: 11px;
    margin-bottom: 0rem!important;
    color: #000;
}

.avatar-name {
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    line-height: 17px;
}

.avatar-job {
    font-size: 10px;
    font-weight: lighter;
}

.excerpt-below {
    font-size: 12px;
    line-height: 20px;
    color: #82888b;
    font-weight: 500;
}

.height {height: 120px!important;}

}


@media all and  (max-width: 48.4em){

.height {height: 120px!important;display: none}

}



@media all and  (max-width: 48em){
.text-overlay {display: none}

.top-header {
    font-size: 35px!important;
    font-weight: 100;
}

.top-header-2 {
    font-size: 29px!important;
    line-height: 33px!important;
}

.strapline {
    font-size: 22px!important;
    line-height: 32px!important;
    padding-top: 30px;
}

.m-b-10 {padding: 0px!important;}

.excerpt-below {
    font-size: 13px!important;
    line-height: 21px!important;
    color: #82888b;
}

.top-header-2-mob {
    font-size: 25px!important;
}

.top-header-3 {
    font-size: 15px!important;
    color: #6c757d;
}

.excerpt {
    font-size: 15px!important;
    color: #6F7F82;
    margin-top: -10px;
}


.btn-nav {
    /*padding: 7px;
    width: 129px;*/
    margin-top: 5px;
    background-color: @default-white;
    border: #003B75 solid 1px;
    color: #003B75;
    margin-right: 14px!important;
    font-size: 15px;
}

.height {height: 550px!important; border: red solid 1px; display: none}


}



h4 {
    font-size:18px;
    font-weight:bold;
    color: #09181C;
    margin-bottom:4px;
}    


@media (min-width: 360px) {
    .hide-mobile {
        display: none;
    }     

    .show-mobile {display: block;}

     .icons-mob {display: block;}
    .icons-desktop {display: none;}

    .icon-responsive {width: 100%;}

}

@media (min-width: 776px) {
    .hide-desktop {
        display: none;
    }  

    .show-desktop {
        display: block;
    }   

 .icons-desktop {display: block;}
    .icons-mob {display: none;}
.icon-responsive {width: 65%!important;}
}



@media (min-width: 768px) {
    h4 {
        font-size:23px;
    }     
}


@media (min-width: 768px) {
    #page-header {
        margin-top: 50px;
    }   
}

 @media (min-width: 768px) {
                
                #homepage-tiles .tile {flex-basis: 20%}
                #homepage-tiles .tile.large-1 {flex-basis: 60%}
                #homepage-tiles .small-1 {order:1}
                #homepage-tiles .small-2 {order:2}
                #homepage-tiles .small-3 {order:3}
                #homepage-tiles .small-4 {order:4}
                #homepage-tiles .small-5 {display:block; order:5}
                #homepage-tiles .group-1 {display:block; order:6}  
                #homepage-tiles .large-1 {order:7}
                #homepage-tiles .group-2 {display:block; order:8} 
                #homepage-tiles .small-12 {display:block; order:9}
                #homepage-tiles .small-13 {display:block; order:10}
                #homepage-tiles .small-14 {display:block; order:11}
                #homepage-tiles .small-15 {display:block; order:12}
                #homepage-tiles .small-16 {display:block; order:13}
                #homepage-tiles .tile.large-1 {
                    padding:30px;
                }
    }

    @media (min-width: 992px) {
                #homepage-tiles .tile.large-1 {
                    font-size: 19px;
                    line-height:23px;
                }
                #homepage-tiles .tile.large-1 {
                    padding:40px;
                }
                #homepage-tiles .tile.large-1 p {
                    width:80%;       
                } 
    }
    @media (min-width: 1200px) {
                #homepage-tiles .tile.large-1 {
                    font-size: 23px;
                    line-height:28px;
                }
                #homepage-tiles .tile.large-1 {
                    padding:50px;
                }
    }
    @media (min-width: 1600px) {
                #homepage-tiles .tile.large-1 {
                    font-size: 32px;
                    line-height:39px;
                }
                #homepage-tiles .tile.large-1 {
                    padding:70px;
                }
    }


    @media (min-width: 768px) {
    #services-box h4 {
        font-size:16px;
    }     
}


@media (min-width: 768px) {
    #services-box .col-md-3 {
        margin-bottom:0;
    } 
    }


@media (min-width: 768px) {
    #highlights h4 {
        font-size:12px;
    } 
}

@media (min-width: 768px) {
        
    #highlights-tiles {
        display: flex;
        /* flex-flow: row wrap; */
        width:100%;
    }

    #highlights-tiles .tile {
        /* background-color:#efefef; */
        box-sizing:border-box;
    }
    
    #highlights-tiles .tile.large-1 {
        flex-basis: 50%;
    }
    
    #highlights-tiles .tile-group.group-1 {
        flex-basis: 50%;
        display:flex;
        flex-flow: row wrap;
    }

    #highlights-tiles .tile-group.group-1 .tile {
        flex-basis: 50%;
        padding-left:30px;
    }


 #highlights-tiles .tile-group.group-1.reverse .tile {
        flex-basis: 50%;
        padding-right:30px;
        padding-left: 0px;
    }

}
 

 @media (min-width: 768px) {    
    .quote-by {
        text-align: right;
    }    

    }



@media (min-width: 1600px) {
    .container {
        max-width: 1520px;
    }
}





