﻿@import "variable.less";



/**********
MODALS
**********/


body.modal-open #blur-bg-modal{
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);
}
 
.modal-body .brand-header {font-size:35px; padding-bottom: 1%;} 
.modal-body .font-size-55 {font-size:35px;} 

.modal-backdrop {background: @default;}

.close {
    font-size: 50px;
    display:block;
}

.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-backdrop.in {
  opacity: 0.5;
}

.modal-padding-left {
    padding-left: 3%;
}

.modal-content { 
  border: 0px solid rgba(0,0,0,.2);
  border-radius: 0px;
}


.hover-img-lg {
  opacity: 0.8; transition: 0.8s;
  -webkit-backface-visibility: hidden;
}

.hover-img-lg:hover {
  opacity: 1; cursor: pointer;
}


.hover-img {
  opacity: 0.8; transition: 0.8s;
   -webkit-backface-visibility-webkit-backface-visibility: hidden;
}

.hover-img:hover {
    opacity: 1; cursor: pointer;
}

.hover-img-exert {
    opacity: 1; transition: 0.8s;
}

.hover-img-exert:hover {
    opacity: 1; cursor: pointer;
}


.modal-h3 {
    margin-bottom: -0.0em;
}


.modal-lg {
    max-width: 80% !important; 
    margin: 13.75rem auto;
}


.modal-header {border: none;}

.modal-header .close { 
  margin: -2rem -1.2rem -1rem auto;
}


.modal-p { 
font-size: 17px;
}


.btn-load-modal {
    padding: 15px;
    min-width: 120px;
    margin-top: 20px;
    background-color: @default-white;
    border: black solid 1px;
    color: black;
}

.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: none!important;
    padding-top: 0rem!important;
}


.icons-desktop {
    height: 45px;
    width: 60px;
    text-align: center;
    position: absolute;
    left: -55px;
    top: -15px;
}
  

.icons-mob {
    height: 60px;
    width: 60px;   
    text-align: center;
    position: relative;    
    top: -8px;
    left: -11px;
  }


