﻿@import "variable.less";


/*
--------------------------------------------
Navbar
--------------------------------------------
*/

nav.navbar {
    background-color:@default-white;
   /* box-shadow: 0 3px 5px rgba(102, 102, 102, 0.05);*/
}

nav.navbar #menu-primary-menu a {
    font-family:@raleway;
    font-size:16px;
    font-weight:700;
}

nav.navbar-expand-md .navbar-nav .nav-link {
    padding-left:2em;
    padding-right:0;
}

nav .navbar-nav .nav-link.active,
nav.navbar-light .navbar-nav .nav-link.active,
nav .navbar-nav .nav-link:hover,
nav.navbar-light .navbar-nav .nav-link:hover {
    color:@blue;
}




