@import "variable.less";
/**********
MAIN BODY
**********/

body, html {
    font-family:@raleway;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
::-moz-selection {
    /* Code for Firefox */
    color: @default;
    background: @mustard;
}
::selection {
    color: @default;
    background: @mustard;
}
.spacer {
    width: 100%;
    display: block;
    height: 100px;
}
.hidden {
    display: none;
}
.site-content {
    margin-top: 70px;
}
.full-width {
    width: 100%!important;
}
hr {
    margin-top: 3rem;
    margin-bottom: 4rem;
}

a {
    color: @blue;
}

.opacity {
    opacity: 0.8;
}
.opacity:hover {
    opacity: 1;
}
/**********
--------------------------------------------
Text - general styles
--------------------------------------------
**********/

.white {
    color: @default-white;
}
.dark-gray {
    color: @grey;
}
.blue {
    color: @blue;
}
.light-gray {
    color: @light-grey
}

.brand-header {
    font-size: 55px;
    font-weight: bold;
}
.brand-line {
    margin-bottom: 0rem!important;
}
.load-more {
    background-color: @default-white;
    padding-bottom: 70px;
}
.spacing {
    margin-right: 1.5rem!important;
}
.strapline {
    font-size: 30px;
    line-height: 37px;
    padding-top: 30px;
}