﻿/// colors ///

/*
################
Standard colours of the world!
################
*/

@default: black;
@default-white: white;
@default-grey: #656565;

@grey: #91989C;
@light-grey: #E3E9EC;

@chilli :#B70E0C;
@ruby: #D04A70;
@teal: #5CACAA;
@olive: #868A22;
@mustard: #D7AF00;
@blue: #003B75;


/*
################
Clients colour palette!
################
*/

@brand-primary:#fbbc0c;
@brand-secondary:#00007F;


@raleway:'Raleway', Arial, 'Helvetica Neue', sans-serif;
